<div class="about_main">
  <div class="cover">
    <div class="title">
      <h3>About</h3>
    </div>
  </div>
</div>

<!-- <div class='about'> -->
<div class='about container'>
  <div class="row">
    <br>
    <p>
      Ranawara offers simple yet beautifully decorated rooms, spacious living areas and stunning views stretching over the garden, pool and Indian Ocean
      <br>
      <br>
      The main villa comprimises a total of 46,000 sq. ft. of open plan living. The property features a library, TV room, bar area, open plan kitcken & dining room, al-fresco dining pavilion, spa as well as 100ft long swimming pool.
      <br>
      <br>
        We resident team of staff who cater for your needs in a home-style service for the duration of your stay. On site we have our British General Manager, a chef and his cooking team as well as service, room and garden staff.
    </p>
  </div>

  <div class="row features">
    <div class="cont s--inactive">

      <div class="cont__inner">

        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg villa"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">VILLA</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                <!-- <a href='#!villa'>VILLA</a> -->
                  <button><a href="#!about/villa">VILLA</a></button>
                  <br>
                  <p>
                    <div layout='row'>
                    The beautiful, 46,000 sq. ft. villa includes the following:
                      <div flex>
                        <ul style='font-size: 20px; font-weight: 200;'>
                        <li>5 main house master suites</li>
                        <li>2 gardan cabana suites</li>
                        <li>Ground and first floor sittings rooms</li>
                        <li>Bar area</li>
                        <li>Open kitchen and dining room</li>
                      </ul>
                      </div>
                      <div flex>
                        <ul style='font-size: 20px; font-weight: 200;'>
                          <li>test</li>
                        </ul>
                      </div>
                    </div>
                    <!-- The villa is 46,000 sq. ft. with 7 rooms, sleeping 14 guests.
                    <br>
                    You will find 5 master suites in the main house with a further 2 rooms in separate garden cabanas.
                    <br> -->
                    <!-- The beautiful, 46,000 sq. ft. villa includes the following: -->
                    <br>
                    <div>
                      <!-- <ul style='font-size: 20px; font-weight: 200;'>
                        <li>5 main house master suites</li>
                        <li>2 gardan cabana suites</li>
                        <li>Ground and first floor sittings rooms</li>
                        <li>Bar area</li>
                        <li>Open kitchen and dining room</li>
                      </ul> -->
                    </div>
                  </p>
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <!-- <div class="el__index-overlay" data-index="1">1</div> -->
              <div class='el__index-overlay' data-index='V'></div>
            </div>
          </div>
        </div>

        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg grounds"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">GROUNDS</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  <button><a href="#!about/grounds">GROUNDS</a></button>
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="G"></div>
            </div>
          </div>
        </div>

        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg spa"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">SPA</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  <button><a href="#!about/spa">SPA</a></button>
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="S"></div>
            </div>
          </div>
        </div>

        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg food"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">FOOD</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  <button><a href="#!about/food">FOOD</a></button>
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="4"></div>
            </div>
          </div>
        </div>

        <div class="el">
          <div class="el__overflow">
            <div class="el__inner">
              <div class="el__bg"></div>
              <div class="el__preview-cont">
                <h2 class="el__heading">FACILITIES</h2>
              </div>
              <div class="el__content">
                <div class="el__text">
                  <button><a href="#!about/facilities">FACILITIES</a></button>
                </div>
                <div class="el__close-btn"></div>
              </div>
            </div>
          </div>
          <div class="el__index">
            <div class="el__index-back"></div>
            <div class="el__index-front">
              <div class="el__index-overlay" data-index="5"></div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
