
  <div class="m-p-g" id='gallery' ng-init='initGallery()'>
  	<div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
      <load-img src='sources[0]'></load-img>
      <load-img src='sources[1]'></load-img>
      <load-img src='sources[2]'></load-img>
      <load-img src='sources[3]'></load-img>
      <load-img src='sources[4]'></load-img>
      <load-img src='sources[5]'></load-img>
      <load-img src='sources[6]'></load-img>
      <load-img src='sources[7]'></load-img>
      <load-img src='sources[8]'></load-img>
      <load-img src='sources[9]'></load-img>
      <load-img src='sources[10]'></load-img>
      <load-img src='sources[11]'></load-img>

      <!-- <load-img ng-repeat='source in sources'></load-img> -->


  		<!-- <img src="/assets/images/Joby Davies - ©OBS07597.jpg" data-full="/assets/images/Joby Davies - ©OBS07597.jpg" class="m-p-g__thumbs-img" /> -->
  		<!-- <img src="/assets/images/Joby Davies - ©OBS07718.jpg" data-full="/assets/images/Joby Davies - ©OBS07718.jpg" class="m-p-g__thumbs-img" />
  		<img src="/assets/images/Joby Davies - ©OBS07884.jpg" data-full="/assets/images/Joby Davies - ©OBS07884.jpg" class="m-p-g__thumbs-img" />
  		<img src="/assets/images/Joby Davies - ©OBS08143.jpg" data-full="/assets/images/Joby Davies - ©OBS08143.jpg" class="m-p-g__thumbs-img" />
  		<img src="/assets/images/Joby Davies - ©OBS08143.jpg" data-full="/assets/images/Joby Davies - ©OBS08251.jpg" class="m-p-g__thumbs-img" />
  		<img src="/assets/images/Joby Davies - ©OBS09754.jpg" data-full="/assets/images/Joby Davies - ©OBS09754.jpg" class="m-p-g__thumbs-img" />
  		<img src="/assets/images/Joby Davies - ©OBS09754.jpg" data-full="/assets/images/outdoor - tree.jpg" class="m-p-g__thumbs-img" />
  		<img src="http://unsplash.it/620/340?image=623" data-full="http://unsplash.it/1240/680?image=623" class="m-p-g__thumbs-img" />
  		<img src="http://unsplash.it/790/390?image=339" data-full="http://unsplash.it/1580/780?image=339" class="m-p-g__thumbs-img" /> -->
  	</div>
  	<div class="m-p-g__fullscreen"></div>
  </div>
