<div class="home">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Ranawara</p>
      <!-- <p class='content-subtitle'></p> -->
      <section>
        <a onclick='nextItem()'>
          <span></span>
        </a>
      </section>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class='content-title'>First Class Luxury</p>
      <p class='content-subtitle'></p>
      <section>
        <a  onclick='nextItem()'>
          <span></span>
        </a>
      </section>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class='content-title'>Elegance and Beauty</p>
      <!-- <p class='content-subtitle'>Content here</p> -->
    </div>
  </section>
</div>
