<div ng-controller='homeCtrl'>
  {{ message }}
  <h1>HOME</h1>
</div>

<!-- <div class="home">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Ranawara</p>
      <section>
        <a onclick='nextItem()'>
          <span></span>
        </a>
      </section>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class='content-title'>Second Tile</p>
      <p class='content-subtitle'>Content here</p>
      <section>
        <a  onclick='nextItem()'>
          <span></span>
        </a>
      </section>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class='content-title'>Third Tile</p>
      <p class='content-subtitle'>Content here</p>
      <section>
        <a onclick='nextItem()'>
          <span></span>
        </a>
      </section>
    </div>
  </section>
</div> -->
