<p>The beautiful 46,000 sq. ft. villa includes the following:</p>
<br>
<div class='col s6'>
  <ul style='font-size: 20px; font-weight: 200;'>
    <li>5 main house master suites</li>
    <li>2 gardan cabana suites</li>
    <li>Ground and first floor sittings rooms</li>
    <li>Bar area</li>
    <li>Open kitchen and dining room</li>
  </ul>
</div>
<div class='col s6'>
  <ul style='font-size: 20px; font-weight: 200;'>
    <li>Cinema room</li>
    <li>Massage pavilion</li>
    <li>Poolside pavillion w/ dining table for 14</li>
  </ul>
</div>