<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <%= image_tag('logos/icon.png') %>
            <span>Ranawara</span>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/activities">ACTIVITIES</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/availability">AVAILABILITY</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
